@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

.container {
  width: $content_container;
  height: 100%;
}
.center {
  @include centered_horizontally_div;
}
.spaced-centered-divs {
  @include spaced_centered_divs;
}
.h-100 {
  height: 100%;
}
.centered-vertically-div {
  @include centered_vertically_div;
}
.with-cursor-pointer {
  cursor: pointer;
}
.white {
  color: white;
}
.footer-grey {
  color: #797758;
}
.d-flex {
  display: flex;
}
.ps-4 {
  padding-left: 4px;
}
.ps-8 {
  padding-left: 8px;
}
.pt-8 {
  padding-top: 8px;
}
.pe-4 {
  padding-right: 4px;
}
.pe-8 {
  padding-right: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
.ps-4 {
  padding-left: 4px;
}
.pe-4 {
  padding-right: 4px;
}
.pt-24 {
  padding-top: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.smaller {
  font-size: 0.8em;
}
.smaller-plus {
  font-size: 0.9em;
}
.no-decoration {
  list-style: none;
}
.no-underlining {
  text-decoration: none;
}
.footer-blu {
  color: $footer_blu;
}
.grow-one {
  flex-grow: 1;
}
.w-100 {
  width: 100%;
}
.wrap {
  flex-wrap: wrap;
}
.width-a-sixth {
  width: calc(70vw / 6);
}
.height-a-sixth {
  height: calc(70vw / 6);
}
