@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

.container {
  width: $content_container;
  height: 100%;
}
.center {
  @include centered_horizontally_div;
}
.spaced-centered-divs {
  @include spaced_centered_divs;
}
.h-100 {
  height: 100%;
}
.centered-vertically-div {
  @include centered_vertically_div;
}
.with-cursor-pointer {
  cursor: pointer;
}
.white {
  color: white;
}
.d-flex {
  display: flex;
}
.ps-8 {
  padding-left: 8px;
}
.pe-8 {
  padding-right: 8px;
}
.ps-4 {
  padding-left: 4px;
}
.pe-4 {
  padding-right: 4px;
}
.smaller {
  font-size: 0.8em;
}
