// CONTAINER
$content_container: 70vw;

// HEADER
$header_height: 12vh;

// MAIN
$main_one_height: 15vh;
$main_one_bg: #1c1c1c;

$main_two_height: 15vh;
$main_two_bg: #0082f9;

// FOOTER
$footer_one_height: 46vh;

$footer_two_height: 12vh;
$footer_two_bg: #303030;
